<ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom" class="bottom-nav">
    <ion-tab-button tab="inicio" href="/tabs/inicio" class="tab-btn">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="agregar-gasto" href="/tabs/agregar-gasto" class="tab-btn">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Agregar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="graficas" href="/tabs/graficas" class="tab-btn">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Gráficas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="metas" href="/tabs/metas" class="tab-btn">
      <ion-icon name="flag-outline"></ion-icon>
      <ion-label>Metas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="alertas" href="/tabs/alertas" class="tab-btn">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Alertas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
